@include media-breakpoint-up(sm) {
  mb-0 {
    font-size: 0.4rem;
  }
}

@include media-breakpoint-up(md) {
  mb-0 {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  mb-0 {
    font-size: 1.6rem;
  }
}