.container-table {
  width: 100%;
  min-height: 88vh;
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-default {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}